.nav-click-popup {
    height: 0;
    margin-top: 5px;
}

.simple-menu {
    --border-radius: 6px;
    --item-colour: inherit;
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    border-radius: var(--border-radius);
    background-color: rgb(24 23 28 / 100%);
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    flex: none;
    font-size: 14px;
    z-index: auto;
    position: relative;
}

.simple-menu__header {
    min-height: 100px;
    margin: -10px -5px 10px;
    background-size: cover;
    background-position: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    background-image: url('https://pbs.twimg.com/media/FJTjcBaaMAAoNl2?format=jpg&name=small');
}

.simple-menu__item {
    outline: none;
    border: none;
    margin: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: none;
    white-space: nowrap;
    padding: 5px 25px;
    color: var(--item-colour);
    cursor: pointer;
    text-align: left;
    flex: none;
    position: relative;
}

@media screen and (max-width: 1000px) {
    #logForm {
        width: auto;
        visibility: visible !important;
    }
    .simple-menu {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .simple-menu__header {
        display: none;
    }
}