
.nav-click-popup--user {
    margin-top: 40px;
}

.nav-click-popup {
    top: 100%;
    right: 0;
    height: 0;
    visibility: hidden;
}

.simple-menu--nav2 {
    will-change: transform, opacity;
    transition: none;
    position: relative;
}

.simple-menu {
    --border-radius: 6px;
    --item-colour: inherit;
    --item-hover-bg: hsl(var(--hsl-b5));
    --item-hover-colour: var(--item-colour);
    --stripe-bg: hsl(var(--hsl-h1));
    transform: translateZ(0);
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    border-radius: var(--border-radius);
    background-color: rgb(24 23 28 / 100%);
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    flex: none;
    font-size: 14px;
    z-index: 101;
    position: relative;
    color: hsl(var(--hsl-c1));
}

.simple-menu__header {
    min-height: 100px;
    margin: -10px -5px 10px;
    background-size: cover;
    background-position: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    background-image: url('https://pbs.twimg.com/media/FJTjcBaaMAAoNl2?format=jpg&name=small');
}

.simple-menu__item {
    outline: none;
    border: none;
    margin: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: none;
    white-space: nowrap;
    padding: 5px 25px;
    color: var(--item-colour);
    cursor: pointer;
    text-align: left;
    flex: none;
    position: relative;
}