#regForm {
    background-color: #333;
    margin: auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    max-height: min-content;
    color: #fff;
}

.login-box__form-input {
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #222;
    padding: 10px 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    width: 205;
}



input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
    text-align: center;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
}

#message {
    display: none;
    background: #15202b31;
    color: #fff;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}


.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}