

/* Style the form */
#regForm {
    background-color: #333;
    margin: auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    max-height: min-content;
    color: #fff;
}

/* Style the input fields */
.login-box__form-input {
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #222;
    padding: 10px 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    width: 205;
}



/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    text-align: center;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #15202b31;
    color: #fff;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}


/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}