
body{
    background-color: #15202B;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
  }

.flex{
    display: flex 
}
header{
    justify-content: space-between;
}

.changeImg {
    width: 123;
    height: 140;
    background: url("../Picture/1.png") ;
    display: flex;
    align-items: start;
    border-radius: 50%;
    
}
.changeImg:hover {
    background: url("../Picture/2.png") ;
    box-shadow: 1px 1px #5271ff;
}
nav{
    font-size: 30px;
    display: flex;
    margin-top: 40px;
}

nav a{
    color: #ffff;
    padding-right: 10px;
}
nav a:hover{
    color: #ffbd59;
}

.labelNav{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: 30px;
    justify-content: center;
}
.myInput{
    width: 60%;
}

.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}


#sectionIndex{
    display: flex;
    justify-content: space-around;
}

button{
    margin-bottom: 10px;
    padding-bottom: 5px;
}
button:hover{
    cursor: pointer;
}
article{
    border-width: 5px;
    border-style: solid;
    border-top-color: #ffbd59;
    border-bottom-color: #5271ff;
    border-right-color: #5271ff;
    border-left-color: #ffbd59;
    margin-top: 50px;
    transition: transform .2s;
    text-align:center;
}

article:hover{
    border-top-color: #5271ff;
    border-bottom-color: #ffbd59;
    border-left-color: #5271ff;
    border-right-color: #ffbd59;
    border-style: solid;
    border-radius: 10px;
    transform: scale(1.25);
    background-color: #15202B;
}

#more {display: none;}

footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
}
#bloc_page
{
    width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#fixedFooter{
    position: relative; 
}  
.iconContact{
    padding-left: 100px;
}
#twitter{
    cursor: pointer;
}
#twitter:hover{
    color: #1DA1F2;
}
i:hover{
    cursor: pointer;
}
#Afficher {display: none;}

main h1{
    text-align: center;
}
section div{
    text-align: center;
    border-style: solid;
    width: 500;
    margin-left: auto;
    margin-right: auto;
}
.page{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
}


div img{
    border-style: solid;
}


ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
}
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #myDropdown{
    
    background-color: #ffff;
    color: black;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover #menus {
    display: block;
  }


  /* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    color: black;
}
  
  /* Style the input fields */
  input {
    padding: 10px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  /* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}

/* FORM */
@media (min-width: 900px){
  .login-box {
  top: 90px;
  transition: top .3s;
  }
}

.login-box{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 50px;
}

@media(min-width: 900px){
  .login-box__content {
    border-radius: 4px;
    width: 300px;
    margin-top: 5px;
  }
}

 .login-box__content{    
  box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
  transform: translateZ(0);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  overflow: hidden;
  transition: none;
  color: #999;
}

.login-box_section {
  background-color: #333;
  flex: none;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
} 

.login-box__row {
  flex: none;
  margin: 0 0 10px;
  display: flex;
}

.login-box__row-title{
  color: #fff;
  font-size: 15px;
  font-style: normal;
  margin-bottom: 20px;
}

.login-box__row--inputs{
  flex-direction: column;
  margin-bottom: 5px;
}

.login-box__form-input {
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #222;
  padding: 10px 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.login-box__row--error{
  color: #a8f;
}

.login-box_link{
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: #fc2;
  font-size: 14px;
}