#regForm {
    background-color: #333;
    margin: auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    max-height: min-content;
    color: #fff;
}

.login-box__form-input {
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #222;
    padding: 10px 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    width: 205;
}



input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
    text-align: center;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.uncompleted {
    background-color: red;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
}

#message {
    display: none;
    background: #15202b31;
    color: #fff;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}


.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*return modal error */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
    text-align: center;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: red;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}