html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #15202B;
}

.user-layout{
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .user-page {
        width: calc(100% - 40px);
        max-width: 1000px;
    }
}

.user-page {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    flex: none;
    width: 100%;
    max-width: 1000px;
}

@media (min-width: 900px) {
    .account-edit {
        flex-direction: column;
    }
}

.account-edit {
    box-shadow: 0 1px 3px rgba(0, 55, 59, 0.014);
    background-color: rgb(25, 39, 52);
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.account-edit--first:after {
    box-shadow: inset 0 2px 3px -1px rgb(0 0 0 / 25%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: " ";
    pointer-events: none;
}

@media (min-width: 900px) {
    .account-edit__section {
        padding-bottom: 0;
        padding-left: 50px;
    }
}

.account-edit__section {
    flex: none;
    width: 250px;
    padding: 20px 20px 20px 10px;
}

.account-edit__section-title {
    color: #fff;
    font-size: 20px;
    margin: 0;
    overflow-wrap: break-word;
}

.account-edit__input-groups {
    flex: 1;
}

.account-edit__input-group {
    background-color: rgb(44, 54, 64);
    padding: 10px;
}

.account-edit-entry {
    text-transform: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 900px) {
    .account-edit-entry__label {
        align-self: center;
        width: 160px;
        padding-right: 10px;
        padding-bottom: 0;
        text-align: right;
    }
}

.account-edit-entry__label {
    flex: none;
    padding-bottom: 5px;
    order: -1;
    font-weight: 700;
    color: #fff;
}

.account-edit-entry__input {
    outline: none;
    margin: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    flex: 1;
    max-width: 250px;
    background-color: rgb(28, 39, 50) ;
    align-self: stretch;
    border: 2px solid transparent;
    color: #fff;
    font-weight: 400;
    padding: 5px;
}
.account-edit-entry__input:focus{
    outline: 2px solid #fff;    
    background-color: #15202B; 
}
.account-edit__input-group+.account-edit__input-group {
    margin-top: 1px;
}

.submitBtn{
    text-align: right;
}

input[type="submit"]{
    cursor: pointer;
}

.deleteUser{
    text-align: right;
}

